@import '../../../node_modules/bootstrap-css-only/css/bootstrap.css';

div.head {
    width: 100%;
}

div.frame {
    max-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    padding: 0.5em;
    border:solid 1px silver;
}

div.body {
    overflow-y: scroll;
}

table {
    border-collapse:collapse;
}

.body .table td {
    cursor : pointer;
}

.head tr {
    cursor: pointer;
}

td {
    text-align: center;
}

tr[cell-selected] {
    background-color: rgba(255, 171, 16, 0.767) !important;
}

tr.shadow{
    visibility: collapse !important;
}

/** Required for material-icons into shadow DOM */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}